bell_alert RCDATA "..\\..\\Resources\\bell_error.png"
Refresh_Bmp RCDATA "..\\..\\Resources\\refresh.bmp"
notes RCDATA "..\\..\\Resources\\note.png"
stock_down RCDATA "..\\..\\Resources\\stock_index_down.png"
stock_up RCDATA "..\\..\\Resources\\stock_index_up.png"
